:root {
  --accent: #f5a300;
  --primary: hsl(348, 96%, 47%);
  --dark: #00246C;
  --dark: #011235;
  --semi-accent: rgba(245, 164, 0, .5);
  --transition: 500ms ease-out;
  --shadow: 1px 2px 2px 2px hsl(0 0% 93%);
  --text-lighter: hsl(210 50% 95%);
  --text-light: hsl(348 0% 98%);
}