.intro {
  margin-block: 3rem;
  font-size: 1rem;

  &>* {
    margin-bottom: 2rem;
  }

  .intro__img img {
    border-radius: 2rem;
    box-shadow: var(--shadow);
  }

  .quote-container {
    --space: 1.825ch;
    --space: -.75ch;
    --font: min(8vw, 3rem);
    padding-top: calc(-2.5 * var(--space));
    padding-left: calc(-3.5 * var(--space));
    font-size: var(--font);

    quote {
      position: relative;

      span {
        position: absolute;
        top: calc(2.25 * var(--space));
        left: var(--space);
        color: var(--primary);
        font-size: calc(4 * var(--font));
        letter-spacing: -.125ch;
      }

      p {
        letter-spacing: .05ch;
      }
    }
  }
}

.intro-description {
  line-height: 1.5;
  letter-spacing: .025ch;
  font-size: min(5vw, 2rem);

  p {
    margin-bottom: .375em;
  }
}