.mid-section {
  margin-block: 2.5rem;

  @media (min-width: 992px) {
    margin-block: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
    gap: 3rem;

    .selfie-wrapper {
      flex-grow: 1;
    }
  }
}