@use 'sass:map';
@use 'sass:list';

.projects {
  margin-block: 3rem;

  h2 {
    font-size: clamp(2rem, 2rem + 1vw, 2.5rem);
    margin-bottom: 1em;
  }

  .project {
    margin-block: 3rem;

    .project__header {
      color: var(--dark);
      font-family: 'Lato', sans-serif;
      padding: 0 .5rem 1rem 0;
      margin-bottom: 2rem;
      border-bottom: 4px solid var(--accent);
      position: relative;
      cursor: pointer;

      &::after {
        --width: 2.125rem;
        --border: .25rem;
        content: '';
        position: absolute;
        bottom: calc(var(--width) * -.5 - 3px);
        right: 10%;
        transform: rotate(45deg);
        width: var(--width);
        height: var(--width);
        color: var(--accent);
        background-color: white;
        border-right: var(--border) solid var(--accent);
        border-bottom: var(--border) solid var(--accent);
        transition: all 500ms;
      }

      h3,
      h4 {
        margin: 0;
        line-height: 1;
      }

      h4 {
        font-size: clamp(1rem, 1rem + .5vw, 1.25rem);
      }

      h3 {
        font-size: clamp(1.5rem, 1.5rem + 5vw, 4.5rem);
        font-weight: 900;
      }

      &:hover::after,
      &:focus-visible::after {
        transform: translate(2px, -15px) rotate(45deg);
      }

    }

    .project__details {
      transform: scaleY(0);
      transform-origin: top;
      height: 0;
      opacity: 0;
      z-index: -1;
      position: relative;
      transition: opacity 250ms, transform 500ms;
      transition: opacity 50 0ms, transform 500ms;

      .project__details__image {
        background-size: cover;
        background-position: center;
        overflow: hidden;

      }

      .project__details__description {
        max-width: 100%;
        color: white;
        background-color: var(--primary);
        padding: 2em;
        overflow: hidden;


        p {
          margin-bottom: 2em;
        }

        a {
          text-decoration: underline;
          // background-color: var(--accent);
          // padding: .5em 1.5em .75em;
        }
      }
    }
  }

  .project.active {
    .project__details__image {
      aspect-ratio: 1.7;
    }

    .project__details {
      margin-bottom: 2rem;
      transform: scaleY(1);
      opacity: 1;
      height: auto;
      transition: opacity 750ms, transform 500ms;
    }

    .project__header::after {
      --border: 4px;
      transform: rotate(225deg);
      // border: 0;
      // border-left: var(--border) solid var(--accent);
      // border-top: var(--border) solid var(--accent);
      bottom: calc(var(--width) * -.5 - 1px);
    }

    .toggler {
      transform: translateY(.125rem) rotate(180deg);
    }
  }

  $projects: "parle", "ads", "foom", "emo";

  @each $name in $projects {
    #projects-#{$name} {
      .project__details__image {
        background-image: url("../../assets/images/projects-sliders/#{$name}/#{$name}-1.png");
      }


      &.project.active {
        .project__details__image {
          animation: slider-#{$name} infinite 8s;

        }
      }
    }
  }

  @each $name in $projects {
    @keyframes slider-#{$name} {
      0% {
        background-image: url("../../assets/images/projects-sliders/#{$name}/#{$name}-1.png");
      }

      50% {
        background-image: url("../../assets/images/projects-sliders/#{$name}/#{$name}-2.png");
      }

      75% {
        background-image: url("../../assets/images/projects-sliders/#{$name}/#{$name}-3.png");
      }

      100% {
        background-image: url("../../assets/images/projects-sliders/#{$name}/#{$name}-4.png");
      }
    }
  }
}