@use 'sass:map';
@use 'sass:list';

.projects {
  margin-block: 3rem;

  h2 {
    font-size: clamp(2rem, 2rem + 1vw, 2.75rem);
    //color: var(--primary);
    //font-family: 'Lato', sans-serif;
  }

  .project {
    border-bottom: 6px solid var(--accent);
    padding-block: 2em;

    .project__header {
      display: flex;
      justify-content: space-between;
      color: var(--primary);
      font-family: 'Lato', sans-serif;
      align-items: end;
      padding: 0 .5rem 2rem 0;
      cursor: pointer;

      h3,
      h4 {
        margin: 0;
        line-height: 1;
      }

      h4 {
        font-size: clamp(1rem, 1rem + .5vw, 1.25rem);
        margin-bottom: 0.5rem;
      }

      h3 {
        font-size: clamp(1.5rem, 1.5rem + 3.5vw, 4rem);
        font-weight: 900;
      }

      .toggler {
        --size: 3.5rem;
        width: var(--size);
        height: 66px;
        padding-block: 0;

        .toggler__upper,
        .toggler__lower {
          transition: all 500ms ease;
        }

        .toggler__upper {
          transform: translateY(.5rem);
        }

        .toggler__lower {
          transform: translateY(-2rem);
        }

        @keyframes rotate {
          100% {
            transform: rotate(180deg);
          }
        }
      }
    }

    .project__details {
      display: grid;
      //grid-template-columns: 1fr;
      grid-template-rows: 0;
      transition: grid-template-rows 500ms;
      overflow: hidden;

      .project__details__image {
        height: 377px;
        background-size: cover;
        background-position: center;
      }

      .project__details__description {
        color: white;
        background-color: var(--primary);
        padding: 1em;

        p {
          margin-bottom: 2em;
        }

        a {
          text-decoration: underline;
          // background-color: var(--accent);
          // padding: .5em 1.5em .75em;
          text-transform: toggler__uppercase;
        }
      }
    }
  }

  $projects: "parle", "ads", "foom", "emo";

  @each $name in $projects {
    #projects-#{$name} {
      // .project__details__image {
      //   background-image: url("../../assets/images/projects-sliders/#{$name}/#{$name}-1.png");
      // }


      &.project.active {
        .project__details__image {
          animation: slider-#{$name} infinite 8s;

        }
      }
    }
  }

  @each $name in $projects {
    @keyframes slider-#{$name} {
      0% {
        background-image: url("../../assets/images/projects-sliders/#{$name}/#{$name}-1.png");
      }

      50% {
        background-image: url("../../assets/images/projects-sliders/#{$name}/#{$name}-2.png");
      }

      75% {
        background-image: url("../../assets/images/projects-sliders/#{$name}/#{$name}-3.png");
      }

      100% {
        background-image: url("../../assets/images/projects-sliders/#{$name}/#{$name}-4.png");
      }
    }
  }

  .project.active {
    border-bottom: 0;

    .project__details {
      grid-template-rows: 2fr;
      margin-bottom: 2rem;
    }

    .toggler {
      transform: translateY(.125rem) rotate(180deg);
    }

    .project__header {
      color: var(--accent);
    }
  }
}