@use 'sass:map';
@use 'sass:list';

.projects {
  margin-block: 3rem;

  h2 {
    font-size: clamp(2rem, 2rem + 1vw, 2.5rem);
    margin-bottom: 1em;
    //color: var(--primary);
    //font-family: 'Lato', sans-serif;
  }

  .project {
    .project__header {
      // display: flex;
      // justify-content: space-between;
      color: var(--dark);
      font-family: 'Lato', sans-serif;
      padding: 0 .5rem 2rem 0;
      margin-bottom: 3rem;
      border-bottom: 4px solid var(--accent);
      position: relative;
      cursor: pointer;
      transition: padding 300ms;

      &::after {
        --width: 2.125rem;
        --border: .25rem;
        content: '';
        position: absolute;
        bottom: calc(var(--width) * -.5 - 3px);
        right: 10%;
        transform: rotate(45deg);
        width: var(--width);
        height: var(--width);
        color: var(--accent);
        background-color: white;
        border-right: var(--border) solid var(--accent);
        border-bottom: var(--border) solid var(--accent);
        transition: all 300ms;
      }

      h3,
      h4 {
        margin: 0;
        line-height: 1;
      }

      h4 {
        font-size: clamp(1rem, 1rem + .5vw, 1.25rem);
        margin-bottom: 0.5rem;
      }

      h3 {
        font-size: clamp(1.5rem, 1.5rem + 5vw, 4.5rem);
        font-weight: 900;
      }

      .project__header__border {
        border: 4px solid var(--primary);
        transition: all 500ms;
      }

      &:hover .project__header__border {
        transform: translateY(.5rem);
      }
    }

    .project__details {
      display: grid;
      //grid-template-columns: 1fr;
      grid-template-rows: 0;
      transition: grid-template-rows 500ms;
      overflow: hidden;

      .project__details__image {
        height: 377px;
        background-size: cover;
        background-position: center;
        border: 2rem solid white;
      }

      .project__details__description {
        color: white;
        background-color: var(--primary);
        padding: 1em;

        p {
          margin-bottom: 2em;
        }

        a {
          text-decoration: underline;
          // background-color: var(--accent);
          // padding: .5em 1.5em .75em;
          text-transform: toggler__uppercase;
        }
      }
    }
  }

  .project.active {
    border-bottom: 0;

    .project__details {
      grid-template-rows: 2fr;
      margin-bottom: 2rem;
    }

    .project__header::after {
      --border: 4px;
      transform: rotate(225deg);
      // border: 0;
      // border-left: var(--border) solid var(--accent);
      // border-top: var(--border) solid var(--accent);
      bottom: calc(var(--width) * -.5 - 1px);
    }

    .toggler {
      transform: translateY(.125rem) rotate(180deg);
    }

    // .project__header {
    //   color: var(--primary);
    // }
  }

  $projects: "parle", "ads", "foom", "emo";

  @each $name in $projects {
    #projects-#{$name} {
      // .project__details__image {
      //   background-image: url("../../assets/images/projects-sliders/#{$name}/#{$name}-1.png");
      // }


      &.project.active {
        .project__details__image {
          animation: slider-#{$name} infinite 8s;

        }
      }
    }
  }

  @each $name in $projects {
    @keyframes slider-#{$name} {
      0% {
        background-image: url("../../assets/images/projects-sliders/#{$name}/#{$name}-1.png");
      }

      50% {
        background-image: url("../../assets/images/projects-sliders/#{$name}/#{$name}-2.png");
      }

      75% {
        background-image: url("../../assets/images/projects-sliders/#{$name}/#{$name}-3.png");
      }

      100% {
        background-image: url("../../assets/images/projects-sliders/#{$name}/#{$name}-4.png");
      }
    }
  }
}