h1 {
  font-size: max(10vw, 5em);
  letter-spacing: .125ch;
  //text-shadow:
  /* regular text-shadow */
  //0 4px 10px hsl(348 3% 82%),
  /* text-shadow highlight */
  //0 -1px 0 hsl(0 0% 99%);
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: var(--accent);
}

h2 {
  padding-bottom: 1em;
  letter-spacing: .05ch;
  font-size: max(3vw, 3em);
  text-decoration: none;
  //color: var(--primary);
}


.horizontal-scroller-container {
  --size: min(65vw, 500px);
  --gap: 2rem;
  --text-lighter: hsl(210 50% 95%);
  --text-light: hsl(0 0% 50%);

  //background-color: hsl(210 10% 15%);
  padding: 0 min(1vw, var(--gap)) 5rem;

  .horizontal-scroller {
    padding-bottom: 3rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--size);
    gap: var(--gap);

    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    scroll-padding-inline-start: var(--gap);

    .description {
      background-color: var(--primary);
      color: var(--text-lighter);
      padding: max(5vw, 1rem);

      p {
        line-height: 1.75;
        margin-bottom: 2em;
      }
    }

    &>* {
      scroll-snap-align: start;

      cursor: pointer;
      user-select: none;
      border-radius: 1.5rem;
      box-shadow: var(--shadow);
    }

    figure {
      margin: 0;
      display: grid;
      //padding: min(1vw, var(--gap));
      background-image: linear-gradient(to bottom, hsl(210 0% 97%), hsl(210 0% 99%));

      picture {
        border-radius: var(--gap);
        // inline-size: var(--size);
        // block-size: auto;
        overflow: hidden;
      }

      img {
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
      }
    }
  }
}