.selfie-wrapper {
  --size: 13.5rem;
  --gauge: .6;
  --total: calc(var(--size) * 1.6);

  padding-block: calc(var(--size) * (var(--gauge)));

  .face {
    background-color: white;
    width: var(--size);
    height: var(--size);
    position: relative;
    border-top: .75rem solid var(--semi-accent);
    margin-inline: auto;
    box-shadow: var(--shadow);
    ;

    &,
    .bun {
      border-radius: 50%;
    }

    .eyes {
      display: flex;
      justify-content: center;
      gap: calc(var(--size) * .45);
      position: absolute;
      left: 0;
      right: 0;
      top: 35%;
      animation-name: winking;
      animation-duration: 2500ms;
      animation-iteration-count: infinite;
      transition-timing-function: cubic-bezier(0.1, 0.1, 0.8);

      &>* {
        width: calc(.085 * var(--size));
        height: calc(.085 * var(--size));
        background-color: var(--dark);
        border-radius: 50%;
      }
    }

    .bun {
      background-color: var(--accent);
      width: calc(var(--size) * var(--gauge));
      height: calc(var(--size) * var(--gauge));
      top: -40%;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    .bun,
    .glasses {
      position: absolute;
    }

    .glasses {
      fill: var(--primary);
      width: 110%;
      left: -5%;
      top: -20%;
      transform-origin: center left;
      animation-name: falling-glasses;
      animation-duration: 6s;
      animation-delay: 4500ms;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes winking {

  4%,
  15% {
    transform: scaleY(.3);
  }

  8%,
  25% {
    transform: scaleY(1);
  }
}

@keyframes falling-glasses {
  0% {
    transform: rotate(0);
  }

  10%,
  10.5% {
    transform: rotate(109deg);
  }

  17% {
    transform: rotate(70deg);
  }

  22% {
    transform: rotate(108deg);
  }

  28% {
    transform: rotate(72deg);
  }

  34% {
    transform: rotate(105deg);
  }

  40% {
    transform: rotate(74deg);
  }

  46% {
    transform: rotate(102deg);
  }

  52% {
    transform: rotate(0);
  }
}