@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");
:root {
  --accent: #f5a300;
  --primary: hsl(348, 96%, 47%);
  --dark: #00246c;
  --dark: #011235;
  --semi-accent: rgba(245, 164, 0, 0.5);
  --transition: 500ms ease-out;
  --shadow: 1px 2px 2px 2px hsl(0 0% 93%);
  --text-lighter: hsl(210 50% 95%);
  --text-light: hsl(348 0% 98%);
  --radius: 2rem;
  --gyr-primary: rgb(52, 58, 32);
  --gyr-dark: rgb(1, 14, 29);
  --gyr-error: rgb(204, 29, 6);
  --gyr-warning: rgb(225, 203, 5);
}

footer {
  text-align: center;
  margin-block: 3rem;
}
footer .contact-wrapper {
  border-radius: 0.25rem;
  margin: 0.5rem;
  padding: 0.25rem 0.5rem 0.125rem;
  background-color: var(--accent);
  fill: var(--text-light);
  display: inline-block;
}
@media (min-width: 768px) {
  footer .contact-wrapper {
    padding: 0.375rem 0.5rem 0.125rem;
    margin-inline: 1rem;
  }
  footer .contact-wrapper svg {
    --svg: 1.5rem;
    width: var(--svg);
    height: var(--svg);
  }
}

.intro {
  margin-block: 3rem;
  font-size: 1rem;
}
.intro > * {
  margin-bottom: 2rem;
}
.intro .intro__img img {
  border-radius: 2rem;
  box-shadow: var(--shadow);
}
.intro .quote-container {
  --space: 1.825ch;
  --space: -0.75ch;
  --font: min(8vw, 3rem);
  padding-top: calc(-2.5 * var(--space));
  padding-left: calc(-3.5 * var(--space));
  font-size: var(--font);
}
.intro .quote-container quote {
  position: relative;
}
.intro .quote-container quote span {
  position: absolute;
  top: calc(2.25 * var(--space));
  left: var(--space);
  color: var(--primary);
  font-size: calc(4 * var(--font));
  letter-spacing: -0.125ch;
}
.intro .quote-container quote p {
  letter-spacing: 0.05ch;
}

.intro-description {
  line-height: 1.5;
  letter-spacing: 0.025ch;
  font-size: min(5vw, 2rem);
}
.intro-description p {
  margin-bottom: 0.375em;
}

.mid-section {
  margin-block: 2.5rem;
}
@media (min-width: 992px) {
  .mid-section {
    margin-block: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
    gap: 3rem;
  }
  .mid-section .selfie-wrapper {
    flex-grow: 1;
  }
}

.presentation .gyr-logo-container {
  --size: 3rem;
  width: calc(var(--size) * 3);
  display: inline-block;
  position: relative;
}
.presentation .gyr-logo-container .gyr-logo {
  background-color: var(--gyr-warning);
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.presentation .gyr-logo-container .gyr-logo,
.presentation .gyr-logo-container .gyr-logo:before,
.presentation .gyr-logo-container .gyr-logo:after {
  display: inline-block;
  width: var(--size);
  height: calc(var(--size) * 1.3333);
  border-radius: 0.5rem;
  margin: 0;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.presentation .gyr-logo-container .gyr-logo:before,
.presentation .gyr-logo-container .gyr-logo:after {
  position: absolute;
  content: "";
  top: 15%;
}
.presentation .gyr-logo-container .gyr-logo:before {
  background-color: var(--gyr-primary);
  left: -80%;
  z-index: -2;
}
.presentation .gyr-logo-container .gyr-logo:after {
  position: absolute;
  z-index: 2;
  background-color: var(--gyr-error);
  left: 80%;
}
.presentation h1,
.presentation h2 {
  font-weight: 800;
}
.presentation h1 {
  font-size: max(2rem, 5vw);
  margin-bottom: max(1.25rem, 3vw);
}
.presentation h2 {
  font-size: max(1.25rem, 3vw);
  margin-bottom: 1em;
  text-align: right;
  text-transform: capitalize;
}
.presentation .presentation-intro {
  font-size: min(1.25rem, 3vw);
  line-height: 1.5;
  margin-bottom: max(1.25rem, 5vw);
}
.presentation .distinct-text {
  font-weight: 600;
  color: var(--primary);
}
.presentation .address-text {
  font-stretch: 180%;
  font-weight: 600;
  color: var(--accent);
  text-decoration: underline;
}
.presentation .row {
  display: flex;
  margin-block: 4rem;
}
.presentation .row .description {
  padding: 5em 1em;
}
.presentation .row .description p {
  font-stretch: expanded;
  line-height: 2;
  font-size: 1rem;
}
.presentation .row > * {
  flex-basis: 50%;
}
.presentation .row figure {
  --size: calc(100% - 2rem);
  --highlight: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 124.45 90.82' width='80' height='58'%3E%3C!-- svg-source:excalidraw --%3E%3Cmetadata%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle class='style-fonts'%3E%3C/style%3E%3C/defs%3E%3Cg stroke-linecap='round' transform='translate(9.723280314559133 10.41156581100276) rotate(352.09283729704157 52.5 35)'%3E%3Cpath d='M63.54 1.55 C72.49 2.44, 83.11 6.39, 89.8 10.81 C96.48 15.22, 101.63 21.8, 103.67 28.04 C105.72 34.28, 105.34 42.24, 102.07 48.25 C98.81 54.25, 91.73 60.48, 84.1 64.07 C76.46 67.66, 65.75 69.47, 56.27 69.8 C46.8 70.12, 35.55 68.94, 27.23 66.02 C18.92 63.1, 11.01 58, 6.37 52.28 C1.74 46.57, -1.15 38.17, -0.59 31.75 C-0.02 25.33, 3.94 18.56, 9.78 13.76 C15.62 8.96, 25 4.95, 34.45 2.95 C43.89 0.95, 60.92 1.84, 66.45 1.75 C71.97 1.65, 67.89 2.04, 67.61 2.39 M30.83 3.87 C39.19 1.07, 52.9 -0.97, 62.58 -0.05 C72.26 0.88, 82.34 5.03, 88.91 9.42 C95.48 13.8, 99.58 20.22, 101.99 26.28 C104.41 32.34, 106.04 39.78, 103.38 45.76 C100.71 51.73, 93.53 58.35, 86.02 62.14 C78.5 65.93, 67.83 67.77, 58.28 68.51 C48.74 69.24, 37.38 69.13, 28.77 66.56 C20.16 63.98, 11.39 58.54, 6.62 53.08 C1.84 47.63, -0.2 40.37, 0.12 33.83 C0.45 27.29, 3.25 18.85, 8.58 13.85 C13.91 8.84, 28.27 5.5, 32.1 3.78 C35.94 2.05, 30.99 3.04, 31.57 3.51' stroke='%23f5a300' stroke-width='4' fill='none'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.presentation .row figure,
.presentation .row figure picture {
  border-radius: var(--radius, 1rem);
}
.presentation .row figure,
.presentation .row figure picture {
  display: grid;
  place-items: center;
}
.presentation .row figure picture {
  position: relative;
}
.presentation .row figure picture.dark {
  background-color: var(--gyr-dark);
}
.presentation .row figure picture.primary {
  background-color: var(--gyr-primary);
}
.presentation .row figure picture.light {
  background-color: var(--gyr-light);
}
.presentation .row figure picture img {
  width: var(--size);
  height: var(--size);
  -o-object-fit: cover;
  object-fit: cover;
}

.projects {
  margin-block: 3rem;
}
.projects h2 {
  font-size: clamp(2rem, 2rem + 1vw, 2.5rem);
  margin-bottom: 1em;
}
.projects .project {
  margin-block: 3rem;
}
.projects .project .project__header {
  color: var(--dark);
  font-family: "Lato", sans-serif;
  padding: 0 0.5rem 1rem 0;
  margin-bottom: 2rem;
  border-bottom: 4px solid var(--accent);
  position: relative;
  cursor: pointer;
}
.projects .project .project__header::after {
  --width: 2.125rem;
  --border: 0.25rem;
  content: "";
  position: absolute;
  bottom: calc(var(--width) * -0.5 - 3px);
  right: 10%;
  transform: rotate(45deg);
  width: var(--width);
  height: var(--width);
  color: var(--accent);
  background-color: white;
  border-right: var(--border) solid var(--accent);
  border-bottom: var(--border) solid var(--accent);
  transition: all 500ms;
}
.projects .project .project__header h3,
.projects .project .project__header h4 {
  margin: 0;
  line-height: 1;
}
.projects .project .project__header h4 {
  font-size: clamp(1rem, 1rem + 0.5vw, 1.25rem);
}
.projects .project .project__header h3 {
  font-size: clamp(1.5rem, 1.5rem + 5vw, 4.5rem);
  font-weight: 900;
}
.projects .project .project__header:hover::after,
.projects .project .project__header:focus-visible::after {
  transform: translate(2px, -15px) rotate(45deg);
}
.projects .project .project__details {
  transform: scaleY(0);
  transform-origin: top;
  height: 0;
  opacity: 0;
  z-index: -1;
  position: relative;
  transition: opacity 250ms, transform 500ms;
  transition: opacity 50 0ms, transform 500ms;
}
.projects .project .project__details .project__details__image {
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.projects .project .project__details .project__details__description {
  max-width: 100%;
  color: white;
  background-color: var(--primary);
  padding: 2em;
  overflow: hidden;
}
.projects .project .project__details .project__details__description p {
  margin-bottom: 2em;
}
.projects .project .project__details .project__details__description a {
  text-decoration: underline;
}
.projects .project.active .project__details__image {
  aspect-ratio: 1.7;
}
.projects .project.active .project__details {
  margin-bottom: 2rem;
  transform: scaleY(1);
  opacity: 1;
  height: auto;
  transition: opacity 750ms, transform 500ms;
}
.projects .project.active .project__header::after {
  --border: 4px;
  transform: rotate(225deg);
  bottom: calc(var(--width) * -0.5 - 1px);
}
.projects .project.active .toggler {
  transform: translateY(0.125rem) rotate(180deg);
}
.projects #projects-parle .project__details__image {
  background-image: url("../../assets/images/projects-sliders/parle/parle-1.png");
}
.projects #projects-parle.project.active .project__details__image {
  -webkit-animation: slider-parle infinite 8s;
  animation: slider-parle infinite 8s;
}
.projects #projects-ads .project__details__image {
  background-image: url("../../assets/images/projects-sliders/ads/ads-1.png");
}
.projects #projects-ads.project.active .project__details__image {
  -webkit-animation: slider-ads infinite 8s;
  animation: slider-ads infinite 8s;
}
.projects #projects-foom .project__details__image {
  background-image: url("../../assets/images/projects-sliders/foom/foom-1.png");
}
.projects #projects-foom.project.active .project__details__image {
  -webkit-animation: slider-foom infinite 8s;
  animation: slider-foom infinite 8s;
}
.projects #projects-emo .project__details__image {
  background-image: url("../../assets/images/projects-sliders/emo/emo-1.png");
}
.projects #projects-emo.project.active .project__details__image {
  -webkit-animation: slider-emo infinite 8s;
  animation: slider-emo infinite 8s;
}
@-webkit-keyframes slider-parle {
  0% {
    background-image: url("../../assets/images/projects-sliders/parle/parle-1.png");
  }
  50% {
    background-image: url("../../assets/images/projects-sliders/parle/parle-2.png");
  }
  75% {
    background-image: url("../../assets/images/projects-sliders/parle/parle-3.png");
  }
  100% {
    background-image: url("../../assets/images/projects-sliders/parle/parle-4.png");
  }
}
@keyframes slider-parle {
  0% {
    background-image: url("../../assets/images/projects-sliders/parle/parle-1.png");
  }
  50% {
    background-image: url("../../assets/images/projects-sliders/parle/parle-2.png");
  }
  75% {
    background-image: url("../../assets/images/projects-sliders/parle/parle-3.png");
  }
  100% {
    background-image: url("../../assets/images/projects-sliders/parle/parle-4.png");
  }
}
@-webkit-keyframes slider-ads {
  0% {
    background-image: url("../../assets/images/projects-sliders/ads/ads-1.png");
  }
  50% {
    background-image: url("../../assets/images/projects-sliders/ads/ads-2.png");
  }
  75% {
    background-image: url("../../assets/images/projects-sliders/ads/ads-3.png");
  }
  100% {
    background-image: url("../../assets/images/projects-sliders/ads/ads-4.png");
  }
}
@keyframes slider-ads {
  0% {
    background-image: url("../../assets/images/projects-sliders/ads/ads-1.png");
  }
  50% {
    background-image: url("../../assets/images/projects-sliders/ads/ads-2.png");
  }
  75% {
    background-image: url("../../assets/images/projects-sliders/ads/ads-3.png");
  }
  100% {
    background-image: url("../../assets/images/projects-sliders/ads/ads-4.png");
  }
}
@-webkit-keyframes slider-foom {
  0% {
    background-image: url("../../assets/images/projects-sliders/foom/foom-1.png");
  }
  50% {
    background-image: url("../../assets/images/projects-sliders/foom/foom-2.png");
  }
  75% {
    background-image: url("../../assets/images/projects-sliders/foom/foom-3.png");
  }
  100% {
    background-image: url("../../assets/images/projects-sliders/foom/foom-4.png");
  }
}
@keyframes slider-foom {
  0% {
    background-image: url("../../assets/images/projects-sliders/foom/foom-1.png");
  }
  50% {
    background-image: url("../../assets/images/projects-sliders/foom/foom-2.png");
  }
  75% {
    background-image: url("../../assets/images/projects-sliders/foom/foom-3.png");
  }
  100% {
    background-image: url("../../assets/images/projects-sliders/foom/foom-4.png");
  }
}
@-webkit-keyframes slider-emo {
  0% {
    background-image: url("../../assets/images/projects-sliders/emo/emo-1.png");
  }
  50% {
    background-image: url("../../assets/images/projects-sliders/emo/emo-2.png");
  }
  75% {
    background-image: url("../../assets/images/projects-sliders/emo/emo-3.png");
  }
  100% {
    background-image: url("../../assets/images/projects-sliders/emo/emo-4.png");
  }
}
@keyframes slider-emo {
  0% {
    background-image: url("../../assets/images/projects-sliders/emo/emo-1.png");
  }
  50% {
    background-image: url("../../assets/images/projects-sliders/emo/emo-2.png");
  }
  75% {
    background-image: url("../../assets/images/projects-sliders/emo/emo-3.png");
  }
  100% {
    background-image: url("../../assets/images/projects-sliders/emo/emo-4.png");
  }
}

.scroll-stack-container h1 {
  cursor: pointer;
}
.scroll-stack-container .scroll-stack-wrapper {
  display: grid;
  grid-template-rows: 1;
  transition: grid-template-rows 500ms;
  transition: grid-template-rows 500ms, -ms-grid-rows 500ms;
}
.scroll-stack-container .scroll-stack-wrapper .scroll-stack {
  overflow-y: hidden;
}
.scroll-stack-container:hover .scroll-stack-wrapper,
.scroll-stack-container:focus-visible .scroll-stack-wrapper {
  grid-template-rows: 1;
}

@-webkit-keyframes slide-in {
  from {
    transform: translateX(-100cqi) scale(0.75);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100cqi) scale(0.75);
  }
}
.scroll-stack {
  container-type: inline-size;
  inline-size: 100cqi;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  gap: 1rem;
  padding-inline: 1rem;
  scroll-padding-inline: 1rem;
  padding-block: 30px 60px;
  /* the before and afters have unsnappable elements that create bouncy edges to the scroll */
  /* 
    snap on the item, which is untransformed
    also order is changed so last item is on top
  */
  /* 
    magic is here, a child of the snapped item 
    animates items as they cross the viewport view()
    range is set to create the effect
  */
}
.scroll-stack::before,
.scroll-stack::after {
  content: "";
  display: block;
}
.scroll-stack::before {
  order: 0;
  inline-size: 25cqi;
}
.scroll-stack::after {
  order: 11;
  inline-size: 80cqi;
}
.scroll-stack .item {
  scroll-snap-align: start;
}
.scroll-stack .item:nth-child(1) {
  order: 10;
  z-index: 1;
}
.scroll-stack .item:nth-child(2) {
  order: 9;
  z-index: 2;
}
.scroll-stack .item:nth-child(3) {
  order: 8;
  z-index: 3;
}
.scroll-stack .item:nth-child(4) {
  order: 7;
  z-index: 4;
}
.scroll-stack .item:nth-child(5) {
  order: 6;
  z-index: 5;
}
.scroll-stack .item:nth-child(6) {
  order: 5;
  z-index: 6;
}
.scroll-stack .item:nth-child(7) {
  order: 4;
  z-index: 7;
}
.scroll-stack .item:nth-child(8) {
  order: 3;
  z-index: 8;
}
.scroll-stack .item:nth-child(9) {
  order: 2;
  z-index: 9;
}
.scroll-stack figure {
  flex-shrink: 0;
  block-size: 80cqb;
  aspect-ratio: 9/16;
  background: light-dark(#ccc, #444);
  box-shadow: 2px 2px 2px rgba(200, 197, 197, 0.6);
  border-radius: 20px;
  overflow: clip;
  display: flex;
}
@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    .scroll-stack figure {
      -webkit-animation: slide-in linear both;
      animation: slide-in linear both;
      animation-timeline: view(x);
      animation-range: cover -75cqi contain 20cqi;
      animation-range: cover -75cqi contain 20cqi;
    }
  }
}
@container (width < 480px) {
  .scroll-stack figure {
    block-size: 50cqb;
  }
}
.scroll-stack figure > img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

h1 {
  font-size: max(10vw, 5em);
  letter-spacing: 0.125ch;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: var(--accent);
}

.horizontal-scroller-container {
  --size: min(68vw, 500px);
  --gap: 2rem;
  --text-lighter: hsl(210 50% 95%);
  padding: 0 min(1vw, var(--gap)) min(8vw, 6rem);
}
.horizontal-scroller-container h2 {
  padding-bottom: 1em;
  padding-left: 0.5em;
  letter-spacing: 0.05ch;
  font-size: max(3vw, 2.25em);
  text-decoration: none;
}
.horizontal-scroller-container .horizontal-scroller {
  padding-bottom: 3rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--size);
  gap: var(--gap);
  overflow-x: auto;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
  scroll-snap-type: x proximity;
  scroll-padding-inline-start: var(--gap);
}
.horizontal-scroller-container .horizontal-scroller .description {
  background-color: var(--primary);
  color: var(--text-lighter);
  padding: min(5vw, 3em);
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
}
@media (min-width: 992px) {
  .horizontal-scroller-container .horizontal-scroller .description {
    font-size: 1.25rem;
  }
}
.horizontal-scroller-container .horizontal-scroller .description p {
  line-height: 1.5;
  margin-bottom: 1em;
}
.horizontal-scroller-container .horizontal-scroller .description a {
  margin-top: auto;
}
.horizontal-scroller-container .horizontal-scroller > * {
  scroll-snap-align: start;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 1.5rem;
  box-shadow: var(--shadow);
}
.horizontal-scroller-container .horizontal-scroller figure {
  margin: 0;
  display: grid;
  place-items: center;
  background-image: linear-gradient(
    to bottom,
    hsl(210deg, 0%, 97%),
    hsl(210deg, 0%, 99%)
  );
}
.horizontal-scroller-container .horizontal-scroller figure picture {
  border-radius: var(--gap);
  overflow: hidden;
}
.horizontal-scroller-container .horizontal-scroller figure img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.selfie-wrapper {
  --size: 13.5rem;
  --gauge: 0.6;
  --total: calc(var(--size) * 1.6);
  padding-block: calc(var(--size) * (var(--gauge)));
}
.selfie-wrapper .face {
  background-color: white;
  width: var(--size);
  height: var(--size);
  position: relative;
  border-top: 0.75rem solid var(--semi-accent);
  margin-inline: auto;
  box-shadow: var(--shadow);
}
.selfie-wrapper .face,
.selfie-wrapper .face .bun {
  border-radius: 50%;
}
.selfie-wrapper .face .eyes {
  display: flex;
  justify-content: center;
  gap: calc(var(--size) * 0.45);
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  -webkit-animation-name: winking;
  animation-name: winking;
  -webkit-animation-duration: 2500ms;
  animation-duration: 2500ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.8);
}
.selfie-wrapper .face .eyes > * {
  width: calc(0.085 * var(--size));
  height: calc(0.085 * var(--size));
  background-color: var(--dark);
  border-radius: 50%;
}
.selfie-wrapper .face .bun {
  background-color: var(--accent);
  width: calc(var(--size) * var(--gauge));
  height: calc(var(--size) * var(--gauge));
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.selfie-wrapper .face .bun,
.selfie-wrapper .face .glasses {
  position: absolute;
}
.selfie-wrapper .face .glasses {
  fill: var(--primary);
  width: 110%;
  left: -5%;
  top: -20%;
  transform-origin: center left;
  -webkit-animation-name: falling-glasses;
  animation-name: falling-glasses;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-delay: 4500ms;
  animation-delay: 4500ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes winking {
  4%,
  15% {
    transform: scaleY(0.3);
  }
  8%,
  25% {
    transform: scaleY(1);
  }
}

@keyframes winking {
  4%,
  15% {
    transform: scaleY(0.3);
  }
  8%,
  25% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes falling-glasses {
  0% {
    transform: rotate(0);
  }
  10%,
  10.5% {
    transform: rotate(109deg);
  }
  17% {
    transform: rotate(70deg);
  }
  22% {
    transform: rotate(108deg);
  }
  28% {
    transform: rotate(72deg);
  }
  34% {
    transform: rotate(105deg);
  }
  40% {
    transform: rotate(74deg);
  }
  46% {
    transform: rotate(102deg);
  }
  52% {
    transform: rotate(0);
  }
}
@keyframes falling-glasses {
  0% {
    transform: rotate(0);
  }
  10%,
  10.5% {
    transform: rotate(109deg);
  }
  17% {
    transform: rotate(70deg);
  }
  22% {
    transform: rotate(108deg);
  }
  28% {
    transform: rotate(72deg);
  }
  34% {
    transform: rotate(105deg);
  }
  40% {
    transform: rotate(74deg);
  }
  46% {
    transform: rotate(102deg);
  }
  52% {
    transform: rotate(0);
  }
}
@media (min-width: 992px) {
  .intro {
    display: flex;
    gap: 14rem;
  }
  .intro > * {
    flex-basis: 100%;
  }
  .intro .selfie-wrapper {
    flex-grow: 1;
  }
  .intro .selfie-wrapper .face {
    margin-inline: auto;
  }
  .projects .project .project__header {
    padding: 0 0.5rem 2rem 0;
    margin-bottom: 3rem;
  }
  .projects .project .project__header h4 {
    margin-bottom: 0.5rem;
  }
  .projects .project .project__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0;
    transition: grid-template-rows 500ms overflow 500ms;
    transition: grid-template-rows 500ms overflow 500ms,
      -ms-grid-rows 500ms overflow 500ms;
    overflow: hidden;
  }
  .projects .project .project__details .project__details__image {
    height: 377px;
    background-size: cover;
    background-position: center;
  }
  .projects .project .project__details .project__details__description {
    padding: 4rem;
  }
  .projects .project.active .project__details {
    grid-template-rows: 1fr;
    margin-bottom: 2rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
}

img,
picture {
  inline-size: 100%;
  block-size: 100%;
  vertical-align: middle;
  font-style: italic;
  color: var(--dark);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  shape-margin: 0.75rem;
}

*::-moz-placeholder {
  font: inherit;
}

*:-ms-input-placeholder {
  font: inherit;
}

input,
button,
textarea,
select,
*::placeholder {
  font: inherit;
}

a {
  color: currentColor;
}

a:not(header a) {
  transition: font-weight 350ms;
}
a:not(header a):hover,
a:not(header a):focus-visible {
  font-weight: 900;
  outline: 0;
}

footer a,
header a {
  transition: opacity 350ms;
}
footer a:hover,
footer a:focus-visible,
header a:hover,
header a:focus-visible {
  opacity: 0.6;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 0.875rem;
  color: var(--dark);
  padding: 1rem;
  background-color: var(--text-light);
}
body > div {
  max-width: 1600px;
  margin-inline: auto;
}
@media (min-width: 992px) {
  body {
    padding: 0.75rem 1.5rem 0.125rem;
  }
}

/* header */
header {
  font-size: min(5vw, 2rem);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
header a {
  text-decoration: none;
}
header .square {
  content: "";
  background-color: var(--primary);
  height: 0.5em;
  width: 0.5em;
  display: inline-block;
  margin-bottom: 0.125rem;
  margin-right: 0.875em;
}
header .square:last-of-type {
  margin-left: 0.875em;
}
@media (min-width: 920px) {
  header {
    padding: 1em 0 1.5em;
  }
} /*# sourceMappingURL=style.css.map */
