@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");
@import "colors";
@import "footer";
@import "intro";
@import "mid-section";
@import "projects";
@import "scroller";
@import "selfie";
@import "responsive";


*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
}

img,
picture {
  inline-size: 100%;
  block-size: 100%;
  vertical-align: middle;
  font-style: italic;
  color: var(--dark);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  shape-margin: .75rem;
}

input,
button,
textarea,
select,
*::placeholder {
  font: inherit;
}

a {
  color: currentColor;
}

a:not(header a) {
  transition: font-weight 350ms;

  &:hover,
  &:focus-visible {
    font-weight: 900;
    outline: 0;
  }
}

footer a,
header a {
  transition: opacity 350ms;

  &:hover,
  &:focus-visible {
    opacity: .6;
  }
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

///--- container ---///

body {
  font-family: "Playfair Display", serif;
  font-size: .875rem;
  color: var(--dark);
  padding: 1rem;
  background-color: var(--text-light);

  &>div {
    max-width: 1600px;
    margin-inline: auto;
  }

  @media (min-width: 992px) {
    padding: .75rem 1.5rem .125rem;
  }
}

/* header */

header {
  font-size: min(5vw, 2rem);
  font-family: "Roboto", sans-serif;
  font-weight: 600;

  a {
    text-decoration: none;
  }

  .square {
    content: "";
    background-color: var(--primary);
    height: 0.5em;
    width: 0.5em;
    display: inline-block;
    margin-bottom: 0.125rem;
    margin-right: .875em;

    &:last-of-type {
      margin-left: .875em;
    }
  }

  @media (min-width: 920px) {
    padding: 1em 0 1.5em;
  }
}